.container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 20px 0;

}

.elt1{
    color: darkcyan;
    text-align: center;
    width: 100%;
}

h2 {
    color: darkcyan;

}

.elt2{
    height : 375px;
    overflow: auto;
    margin-left: 50px;

}


a {
    font-size: 1.3em;
    color: darkcyan;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

table {

    tab-size: 50px;
    border-collapse: collapse;
    width: 100%;
}

th, td {

    padding: 8px 30px 8px 30px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr:nth-child(even) {background-color: white;}


tr:hover {background-color:#f5f5f5;}