/* stylelint-disable selector-list-comma-newline-after */

.title {
    display: flex;
    flex-direction: row;
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: rgba(10, 12, 47, 0.72);
    background-color: lightseagreen;
    padding: 0px 20px 0px 20px;
    white-space:nowrap;
    justify-content: space-around;
    align-items: center;


}

.element3{
    display: flex;
    flex: 1;
    background-color: darkcyan;
    padding: 10px 20px 10px 20px;

}

.blog-header a {
    color: rgba(10, 12, 47, 0.72);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    justify-content: center;

}


.container {
    min-height: 500px;
    font-size: 1.1em;
}

.error {
    color: red;
}

.blog-footer {
    font-family: "Comic Sans MS", cursive, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #f9f9f9;

}

.blog-header a:hover {
    color: powderblue;
}


@media only screen and (max-width: 850px) {
    .title {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px 20px 20px 20px;

    }

    .element2a{
        order: 2;

    }
    .element2b{
        order: 3;
    }
    .element1{
        width: 100%;
        order: 1;
    }

}